.footer {
  text-align: center;
  padding: 60px;
  background-color: rgb(27, 58, 58);
  opacity: .7;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
